* {
  font-family: "Arial", sans-serif;
  color: #333;
}

body {
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculadora {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: 200px repeat(5, 100px);
  background-color: #ff69b4;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 10px 10px 0px 0px #ff1493;
}

.historial {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: 200px repeat(5, 100px);
  background-color: #ff69b4;
  padding: 20px;
  border-radius: 25px;
  margin-left: 10px;
  box-shadow: 10px 10px 0px 0px #ff1493;
}

button {
  cursor: pointer;
  margin: 5px;
  padding: 15px;
  border-radius: 25px;
  font-size: 1.8em;
  border: none;
  background-color: #ff69b4;
  box-shadow: 5px 5px 15px rgba(255, 105, 180, 0.5),
    -5px -5px 15px rgba(255, 105, 180, 0.5);
}

button:active {
  background-color: #ff1493;
}

button:focus {
  outline: none;
}

.col-2 {
  grid-column: span 2;
}

.display {
  grid-column: 1 / -1;
  padding: 20px;
  display: flex;
  margin: 20px 10px 40px;
  flex-direction: column;
  align-items: flex-end;
  background-color: #ff69b4;
  border-radius: 25px;
  text-align: right;
  justify-content: space-between;
  word-break: break-all;
  box-shadow: 5px 5px 15px rgba(255, 105, 180, 0.5),
    -5px -5px 15px rgba(255, 105, 180, 0.5);
}

.display-historial {
  grid-column: 1 / -1;
  grid-row: 1/ -1;
  padding: 20px;
  display: flex;
  margin: 20px 10px 40px;
  flex-direction: column;
  align-items: center;
  background-color: #ff69b4;
  border-radius: 25px;
  text-align: right;
  justify-content: space-between;
  word-break: break-all;
  box-shadow: 5px 5px 15px rgba(255, 105, 180, 0.5),
    -5px -5px 15px rgba(255, 105, 180, 0.5);
}

#valor-actual {
  font-size: 2em;
  color: #fff;
}

#valor-anterior {
  font-size: 2.5em;
  color: #fff;
}
